body{
  background-color: #f5f5f5;
}
.jumbotron {
  color: white;
  padding-top: 6rem;
  background-color: #18181B;
}
.jumbotron p{
  margin: 25px;
}
card{
  margin-bottom: 50px;
}
.container1  {
  color: white;
  background: #18181B;
  display: flex;
  width: 100%;
  height: 90%;
  align-items: center;
  justify-content: center;

}
form{
  color: white;
  background: #18181B;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 80%;
  max-width: 600px;
  border-radius: 3px;
  margin-bottom: 80px;
}

form input, form textarea{
  border: 0;
  margin: 10px 0;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
}
form button{
  padding: 15px;
  background: #ff5361;
  color: white;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 200px;
  margin: 20px auto 0;
  border-radius: 20px;
}
.loader {
  border-top-color: #ef4444;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.path-0 {
  animation: pathAnim-0 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
      d: path("M 0,400 C 0,400 0,200 0,200 C 41.57612529288447,176.54847700086324 83.15225058576894,153.0969540017265 141,148 C 198.84774941423106,142.9030459982735 272.9671229498088,156.16066099395735 335,173 C 397.0328770501912,189.83933900604265 446.9792576149956,210.2604020224442 490,217 C 533.0207423850044,223.7395979775558 569.1158465902084,216.7977309162659 620,232 C 670.8841534097916,247.2022690837341 736.5573560241708,284.5486743124923 799,265 C 861.4426439758292,245.45132568750768 920.654729313109,169.00757183376496 969,165 C 1017.345270686891,160.99242816623504 1054.8237267233937,229.4210383524479 1108,244 C 1161.1762732766063,258.5789616475521 1230.050363793316,219.30827475644347 1288,203 C 1345.949636206684,186.69172524355653 1392.974818103342,193.34586262177828 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  25% {
      d: path("M 0,400 C 0,400 0,200 0,200 C 39.205870020964355,242.77094586262177 78.41174004192871,285.54189172524354 130,270 C 181.5882599580713,254.45810827475643 245.55890985324947,180.60337896164754 302,164 C 358.4410901467505,147.39662103835246 407.35262054507336,188.04459242816625 466,186 C 524.6473794549266,183.95540757183375 593.0306079664572,139.2182513256875 644,128 C 694.9693920335428,116.78174867431251 728.5249475890984,139.08240226908376 783,172 C 837.4750524109016,204.91759773091624 912.8696016771489,248.45213959797758 978,269 C 1043.130398322851,289.5478604020224 1097.996645702306,287.109039339006 1143,261 C 1188.003354297694,234.89096066099398 1223.1438155136268,185.11170304599827 1271,171 C 1318.8561844863732,156.88829695400173 1379.4280922431867,178.44414847700085 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  50% {
      d: path("M 0,400 C 0,400 0,200 0,200 C 66.30075225058577,207.88092243186583 132.60150450117155,215.76184486373168 178,228 C 223.39849549882845,240.23815513626832 247.8947342458996,256.83354297693916 297,239 C 346.1052657541004,221.16645702306084 419.81955851523,168.90398322851155 479,159 C 538.18044148477,149.09601677148845 582.8270316931804,181.55052410901467 636,192 C 689.1729683068196,202.44947589098533 750.8723147120483,190.89392033542978 800,185 C 849.1276852879517,179.10607966457022 885.683709458626,178.87379454926622 932,197 C 978.316290541374,215.12620545073378 1034.392847453447,251.61090146750524 1096,266 C 1157.607152546553,280.38909853249476 1224.7449007275866,272.6825995807128 1283,258 C 1341.2550992724134,243.31740041928722 1390.6275496362068,221.6587002096436 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  75% {
      d: path("M 0,400 C 0,400 0,200 0,200 C 41.75020347761746,217.6812923911703 83.50040695523492,235.36258478234063 132,232 C 180.49959304476508,228.63741521765937 235.74857565667776,204.23095326180785 291,185 C 346.25142434332224,165.76904673819215 401.505290418054,151.71360217042792 455,136 C 508.494709581946,120.28639782957208 560.2302626711062,102.91463805648047 615,132 C 669.7697373288938,161.08536194351953 727.5736588975212,236.62784560365026 791,248 C 854.4263411024788,259.37215439634974 923.4751017388089,206.5739795289185 985,167 C 1046.524898261191,127.4260204710815 1100.5259341472438,101.0762362806758 1146,130 C 1191.4740658527562,158.9237637193242 1228.4211616722162,243.12107534837833 1276,264 C 1323.5788383277838,284.8789246516217 1381.789419163892,242.43946232581084 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  100% {
      d: path("M 0,400 C 0,400 0,200 0,200 C 41.57612529288447,176.54847700086324 83.15225058576894,153.0969540017265 141,148 C 198.84774941423106,142.9030459982735 272.9671229498088,156.16066099395735 335,173 C 397.0328770501912,189.83933900604265 446.9792576149956,210.2604020224442 490,217 C 533.0207423850044,223.7395979775558 569.1158465902084,216.7977309162659 620,232 C 670.8841534097916,247.2022690837341 736.5573560241708,284.5486743124923 799,265 C 861.4426439758292,245.45132568750768 920.654729313109,169.00757183376496 969,165 C 1017.345270686891,160.99242816623504 1054.8237267233937,229.4210383524479 1108,244 C 1161.1762732766063,258.5789616475521 1230.050363793316,219.30827475644347 1288,203 C 1345.949636206684,186.69172524355653 1392.974818103342,193.34586262177828 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
}
aside{
  width: 100%;
}
